<div class="container">

    <h2 class="text-center mt-4 mb-4">Pizza Ordering System</h2>
    <div class="card text-center">
      <div class="card-header">
        Promotional Offers
      </div>
      <div class="card-block">
        <ul class="list">
          <li class="item"><strong>Offer 1</strong> 1 Small Pizza with 2 toppings = $5</li>
          <li class="item"><strong>Offer 2</strong> 2 Medium Pizza with 4 toppings each = $9</li>
          <li class="item"><strong>Offer 3</strong> 1 Large with 4 toppings ( Peperoni and Barbecue chicken are counted as
            2
            toppings)- 50% discount</li>
        </ul>
      </div>
      
      