<div class="px-6 flex flex-col justify-center items-center place-items-center my-auto bg-slate-600">

  <div class="hero min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-md">
        

  <img
    class="logo items-center"
    id="logo  w-56 h-auto md:w-64 "
    src="../../../assets/images/PİZZA point.jpg"
    alt="Backimage"

  />

  <button
    class="btn glass"
    [routerLink]="['/parent-home']"
    routerLinkActive="router-link-active"
  >
    Get Started
  </button>



      </div>
    </div>
  </div>



</div>