<div class="px-6 flex flex-col justify-center items-center place-items-center my-auto">

    <div class="hero min-h-screen">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <img
      class="logo  w-56 h-auto md:w-64 mx-auto"
      id="logo"
      src="../../../assets/images/PİZZA point.png"
      alt="Backimage"
  
    />
  
    <img
      class="logo items-center"
      id="logo  w-56 h-auto md:w-64 "
      src="../../../assets/Frame_3.png"
      alt="Backimage"
  
    />
  
   
  
  
        </div>
      </div>
    </div>
  
  
  
  </div>